$app-padding: 0 100px;
$border-color: #e7e7e7;

/* Theme styles : START */
$primary-bg: #2A2A2A;
$primary-text-color: #AEAEAE;

$theme-color: #06D666;
$theme-color-1: #67E6A1;

/* Theme styles : END */

/* text-styles : START */
$text-dark: #1e1e1e;

/* text-styles : END */
/* font-styles : START */
$body-font: 14px;
$font-normal: 1.4rem;
$font-small: 1.3rem;
$font-smaller: 1.2rem;
$font-smallest: 1.1rem;
$font-large: 1.5rem;
$font-larger: 1.6rem;
$font-largest: 1.7rem;

/* font-styles : END */

// padding / margin
$gutter-5: 5px;
$gutter-10: 10px;
