@import "~sass/variables";
@import "~sass/mixins";

$carousal-height: 600px;

.carousal-img {
    width: 100%;
    height: $carousal-height;
    background-size: 100% 100%;
}

%carousal-button {
    @include circle(50px);

    position: absolute;
    top: $carousal-height / 2;
    display: inline-block;
    box-shadow: 0px 0px 2px #888888;
    padding: 0.5rem 0.6rem;
    cursor: pointer;
}

.leftRs {
    @extend %carousal-button;
}

.rightRs {
    @extend %carousal-button;
    right: 0;
}
