<div class="social-header" fxLayout="row" fxLayout.sm="column" fxLayoutAlign="start center" fxLayoutAlign.sm="center center"
  fxLayoutGap="10px">

  <div fxFlex="50%" fxFlex.sm="50%">
    <span class="phone">
      <fa name="phone"></fa>
      <span class="left-5-padding">+91-9567661847</span>
    </span>

    <span class="mail">
      <fa name="envelope"></fa>
      <span class="left-5-padding">pjosesujith@gmail.com</span>
    </span>
  </div>

  <div fxFlex class="text-right">
    <fa class="icon-circle" name="facebook"></fa>
    <fa class="icon-circle" name="twitter"></fa>
    <fa class="icon-circle" name="google-plus"></fa>
    <fa class="icon-circle" name="youtube"></fa>
  </div>

</div>

<div class="sticky-nav-wrapper main-nav" fxLayou="row" fxLayoutAlign="start center">

  <div class="logo-wrapper" fxFlex="20%">
    <img class="logo-icon" src="assets/images/site_logo.png" />
    <span class="logo-text">Samara</span>
  </div>
  <nav fxFlex>
    <ul>
      <li [ngClass]="{'active': item.isActive}" *ngFor="let item of navItems;let i = indexx" (click)="toggleActive(item)">
        <a>{{item.label}}</a>
      </li>
    </ul>
  </nav>

</div>


<!-- <nav class="sticky-nav" ngStickyNav>Sticky heder here</nav> -->